@model WashingCar.Models.AddVehicleViewModel

@{
    ViewData["Title"] = "Create";
}


<div class="container">
    <main role="main" class="pb-3 p-3">
        <h1 class="text-center rounded-pill div-title">Ingresar Vehiculo</h1>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Services" />

                    <partial name="../Shared/PartialViews/_VehicleCreate" />

                    <div class="form-group mt-2">
                        <input type="submit" value="Crear" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
